/* VARIABLES */

:root {
  --primary: #00d6b4;
}

/* RESET */

body,
p,
a,
ul,
li {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

li {
  list-style-type: none;
}

/* BASE STYLES */

body {
  background: #222;
  font-family: "Lato";
}

.button {
  background: none;
  border: 1px solid var(--primary);
  text-transform: uppercase;
  border-radius: 4px;
  padding: 10px 20px;
  color: var(--primary);
  display: inline-block;
  transition: all 0.5s ease;
}

.button:hover {
  background: var(--primary);
  color: #000;
}

input,
textarea {
  background: #4b4b4b;
  padding: 10px;
  color: #fff;
  resize: none;
  outline: none;
  border: 1px solid var(--primary);
  display: block;
  border-radius: 4px;
}

/* FONTS */

@font-face {
  font-family: "Lato";
  src: url("font/Lato-Thin.ttf");
  font-weight: 100;
}
@font-face {
  font-family: "Lato";
  src: url("font/Lato-Light.ttf");
  font-weight: 300;
}
@font-face {
  font-family: "Lato";
  src: url("font/Lato-Regular.ttf");
  font-weight: 500;
}
@font-face {
  font-family: "Lato";
  src: url("font/Lato-Bold.ttf");
  font-weight: 700;
}
@font-face {
  font-family: "Lato";
  src: url("font/Lato-Black.ttf");
  font-weight: 900;
}

h1 {
  font-weight: 900;
  color: #fff;
  font-size: 1.4em;
  text-transform: uppercase;
}

h2 {
  font-weight: 700;
  color: #fff;
  font-size: 1.6em;
}

h3 {
  font-weight: 300;
  color: #fff;
  font-size: 2.2em;
}

p {
  font-weight: 300;
  color: #fff;
  font-size: 1em;
}

a,
li {
  color: #999;
  transition: all 0.5s ease;
  font-weight: 500;
  font-size: 1.1em;
}

a:hover {
  color: var(--primary);
}

a:active {
  font-weight: 700;
}

label {
  color: #fff;
}
/* MOBILE STYLES */

.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

h1 {
  grid-column: 2 / 5;
  margin-top: 20px;
}

nav {
  grid-column: 6 / 12;
  justify-self: end;
  margin-top: 20px;
}

.hero {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.57), #222),
    url(img/hero-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 60vh;
}

.hero-text {
  text-align: center;
  margin-top: 80px;
}

#portfolio {
  text-align: center;
}

#portfolio h2 {
  grid-column: 1 / 13;
  margin-bottom: 40px;
}

#portfolio ul {
  grid-column: 2 / 12;
}

#portfolio ul li {
  margin: 20px 0;
}

#portfolio ul li {
  grid-column: span 13;
}

#portfolio ul li img {
  width: 98%;
  margin: 0 1%;
}

#about h2 {
  grid-column: 1/13;
  text-align: center;
}

#about img {
  grid-column: 1/13;
  margin: 0 auto;
  border-radius: 50%;
}

#about p {
  grid-column: 2/12;
  text-align: center;
  margin: 20px 0;
}

#contact h2 {
  grid-column: 1/13;
  text-align: center;
}

#contact form {
  grid-column: 2/12;
  margin: 0 auto;
  width: 100%;
}

#contact input,
#contact textarea {
  width: 100%;
  margin: 10px 0;
}

#contact form button {
  margin-top: 10px;
  cursor: pointer;
}

footer {
  padding: 20px 0;
}

footer h2 {
  grid-column: 2/5;
}

footer p {
  grid-column: 8/12;
  align-self: center;
}

/* SMALL TABLET STYLES */

@media screen and (min-width: 620px) {
  body {
    font-size: 16px;
  }

  .hero-text {
    text-align: center;
    margin-top: 140px;
  }

  #projects {
    margin: 40px 0;
  }

  #about {
    margin: 40px 0;
  }

  #about img {
    margin: 20px auto;
  }

  #contact {
    margin: 40px 0;
  }

  #contact h2 {
    margin-bottom: 40px;
  }

  

/* TABLET & LAPTOP STYLES */

@media screen and (min-width: 960px) {
  body {
    font-size: 18px;
  }

#portfolio ul {
  grid-gap: 10px;
}

  #portfolio ul li {
    grid-column: span 4;
    margin: 0;
  }
}

/* DESKTOP STYLES */

@media screen and (min-width: 1200px) {
  body {
    font-size: 20px;
  }
  header {
    padding: 50px 0;
  }

  #about img {
    width: 10%;
  }
  #about p{
    max-width: 70%;
    margin: 10px 15%;
    line-height: 1.5em;
  }
}
